:root {
  /* Primary */
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  /* Neutral */
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-rayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

/* fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Fraunces', serif;
*/